.common-container {
    background-color: #1b1b1b;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 500px;
    padding: 8px;
    border-radius: 16px;
}

p {
    margin-top: 1em;
}

.blogdesc {
    margin-top: 0;
    margin-bottom: 3em;
}

.subheading,
.sublink {
    color: #555;
    font-size: 12px;
}

@media only screen and (max-width: 768px) {
    .common-container {
        width: 350px;
        border-radius: 10px;
    }
}
